@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
/*-----------------------Home Page Title*/
.homeTitle {
    padding-top: 30px;
    padding-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 7px;
    color: #5c5c6a;
    background-color: #f8f7ff;
}

/*---------------------------Thumnail */

.thumbnail {
    padding-bottom: 30px;
    padding-top: 20px;
}

.thumbnail h4 {
font-family: 'Oswald', sans-serif;
text-align: center;
letter-spacing: 3px;
color: #5c5c6a;
}

.readMore {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    letter-spacing: 3px;
    color: #4a4a88;
    text-decoration: underline;
    text-transform: uppercase;
}

/*----------------------Footer/ social media*/
.social {
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    background-color: #f1efff;
    display: flex;
    margin: auto;
    
}
.social ul {
    color: #9C99A3;
    text-align: center;
    list-style: none;
    background-color: #f1efff;
    margin: auto;
}

.social p {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 100%;
    letter-spacing: 4px;
    background-color: #f1efff;
    color: #586271;
    margin: auto;
}


.footer {
    display: inline;
    float: inherit;
}

/*----------------------------------------Legal <p> at bottom of every page*/
.legal {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    letter-spacing: 3px;
    color: #9C99A3;
    font-size: 50%;
}
/*---------------------Google Maps*/
div#map {min-height: 360px;}

#map {
    padding-top: 50px;
    padding-bottom: 30px;
}

/*-----------------------------Cuisine descriptions*/

.description {
    padding-top: 20px;
    padding-bottom: 30px;
}

.description h2{
    font-family: 'Oswald', sans-serif;
    color: #23232a;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 200%;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.description p {
    font-family: 'Oswald', sans-serif;
    color: #2a2a33;
    padding-left: 23px;
    padding-right: 23px;
    letter-spacing: 2px;
}

.description ol {
    font-family: 'Oswald', sans-serif;
    color: #2a2a33;
    padding-left: 30px;
    padding-right: 30px;
    letter-spacing: 2px;
}

.description ul {
    font-family: 'Oswald', sans-serif;
    color: #2a2a33;
    padding-left: 30px;
    padding-right: 30px;
    letter-spacing: 2px;
}

/*--------------------------Add your own recipe form*/

.form {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
}