
/*----------------------Footer/ social media*/
.social {
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    background-color: #E5C4D1;
    display: flex;
    margin: auto;
    
}
.social ul {
    color: #9C99A3;
    text-align: center;
    list-style: none;
    background-color: #E5C4D1;
    margin: auto;
}

.social p {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 200%;
    letter-spacing: 4px;
    background-color: #E5C4D1;
    color: #586271;
    margin: auto;
}


.footer {
    display: inline;
    float: inherit;
}


/*---------------------Google Maps*/
div#map {min-height: 360px;}

#map {
    padding-top: 30px;
    padding-bottom: 30px;
}